---
export const prerender = false
import "@picocss/pico/css/pico.min.css"
import { getCurrentTimeExt, getCurrentTimeLocal } from "../lib/currTime"

const currentTimeExt = await getCurrentTimeExt()
const currentTimeLocal = await getCurrentTimeLocal()
---

<html
  data-theme="dark"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="css/pico.min.css"
    />

    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <main class="container">
      <h1>SSR stuff</h1>

      <h2>from external api:</h2>
      <time datetime={currentTimeExt}>{currentTimeExt}</time>
      <hr />
      <h2>from local api:</h2>

      <button
        hx-get={"/partials/hello"}
        hx-target="#ssrlocal"
        hx-swap="beforeend"
        >get xtmx time</button
      >
      <time
        id="ssrlocal"
        datetime={currentTimeLocal}
        >{currentTimeLocal}</time
      >
    </main>
  </body>
</html>
