---
export const prerender = false

let currentTimeExt
try {
  const res = await fetch("https://worldtimeapi.org/api/ip")
  if (!res.ok) {
    throw new Error(`HTTP error! status: ${res.status}`)
  }
  const { utc_datetime } = await res.json()
  currentTimeExt = new Date(utc_datetime).toLocaleString()
} catch (error) {
  console.error("Fetch error:", error)
  currentTimeExt = "Error fetching time"
}

let currentTimeLocal

const base = process.env.VERCEL_URL
  ? `https://${process.env.VERCEL_URL}`
  : `http://localhost:4321`
try {
  const res = await fetch(base + "/api/hello")

  if (!res.ok) {
    throw new Error(`HTTP error! status: ${res.status}`)
  }
  const { message } = await res.json()
  currentTimeLocal = message
} catch (error) {
  console.error("Fetch error:", error)
  currentTimeLocal = "Error fetching time"
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <h1>SSR time</h1>
    <h2>from external api:</h2>
    <time datetime={currentTimeExt}>{currentTimeExt}</time>
    <hr />
    <h2>from local api:</h2>
    {process.env.VERCEL_URL}
    <time datetime={currentTimeLocal}>{currentTimeLocal}</time>
  </body>
</html>
